<% include partials/header.ejs %>

<div class="container">
    <h1>Título Maneiro</h1>

    <p>Bem-vindos ao YelpCamp!</p>
   
        <a href="/campgrounds" class="btn btn-primary btn-lg">Ver todos os acampamentos</a>
    
</div>

<% include partials/footer.ejs %>